body {
    background-color: #060606;
    color: #fff;
}

.card {
    background-color: #222;
    border: 1px solid #444;
}

.jumbotron {
    background-color: #222;
    padding: 2rem;
    border-radius: 0.3rem;
}

.table {
    color: #fff;
}

.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
}

.qr-code {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.whatsapp-btn {
    background-color: #25D366;
    border-color: #25D366;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
    border-color: #128C7E;
}